$white: #fff;
$black: #000;
$green-btn: #29DE72;
$grey-item: #ddd;
$light-grey: #F5F5F5;
$green-grey: #eef6ef;
$grey: #5c5c5c;
$dark-background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(8, 8, 8, 0.6));